TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Hugging Face Rotation Tokens
HF_TOKEN=your_hf_token_1
HF_TOKEN_2=your_hf_token_2
HF_TOKEN_3=your_hf_token_3
HF_TOKEN_4=your_hf_token_4
HF_TOKEN_5=your_hf_token_5
HF_TOKEN_6=your_hf_token_6

# Admin Panel Credentials
ADMIN_USER=admin
ADMIN_PASS=admin

# Server Port
PORT=6000
